body {
    background-color: #fff;
}

header.head {
    max-width: 1700px;
    margin: 0 auto;
}

header.head,
.config {
    display: flex;
    justify-content: space-between;
}

.burger-btn {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #314584;
}

.main-nav .main-menu {
    display: none;
}

.main-nav .main-menu.visible {
    position: absolute;
    display: inherit;
    background-color: #fff;
}

.examples {
    max-width: 1170px;
    margin: 0 auto;
    
}

.banner {
    display: flex;
    align-items: center;
}

.banner img {
    display: none;
}

.thumbs {
    display: flex;
    flex-wrap: wrap;
}

.thumbs div {
    height: 280px;
    width: 370px;
    margin: 7px;
    background-color: #C3D0D8;
}

.contact form>* {
    width: 100%;
    margin: 0;
    padding: 0;
}

input[type="email"]:invalid {
    color: red;
}

.foot {
    text-align: center;
    background-color: #314584;
}

.foot h3 {
    color: #FF3946;
}

.social a {
    margin: 0 2rem;
}



@media (min-width: 769px) {
    .main-nav .burger-btn {
        display: none;
    }

    .main-nav .main-menu {
        visibility: visible;
        display: flex;
    }

    .banner img {
        display: inherit;
    }
    
}